html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

#copyBtn, #copyBtnTwo{
    border: none;
    background: none;
    color: green;
    cursor: pointer;
    font-weight: bold;
}

.btn{
    background: green;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 5px;
    border: 1px solid green;
    outline: none;
}

.inp{
    padding: 10px;
}